body {
    background-color: #5C0A0A;
    margin: 5px;
    font-family: Lato, sans-serif;
    color: #fff;
}

#navigate {
    box-shadow: 0px 1px 12px 3px #250001;
    border-radius: 0px 0px 100px 100px;
    background-color: #880000;
}

#bbrand {
    border-radius: 0px 100px 0px 100px;
    background-image: linear-gradient(to top right, #220000, #440000, #660000, #880000, #cc0000, #ff0000);
    color: white;
    letter-spacing: .2em;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #ff0000;
}

.navbar-nav > li > a {
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 10px #ff0000;
}

#main-content {
    text-align: center;
    margin-top: 50px;
}

#dragon-image {
    width: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 1);
    border-radius: 10px;
}

footer {
    background-color: #250001;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
    font-size: 18px;
    letter-spacing: 0.05em;
}
